(
.notdef,
NULL,
CR,
space,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a.alt,
a,
b,
c,
d,
e,
f,
g,
g.alt,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
ampersand,
exclam,
question,
numbersign,
Euro,
indianrupee,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zero.zero,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehoi,
Abrevetilde,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhoi,
Acircumflextilde,
Adblgrave,
Adieresis,
Adotbelow,
Agrave,
Ahoi,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
AE,
AEacute,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
DZ,
DZcaron,
Dcaron,
Dcroat,
Dz,
Dzcaron,
Eth,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhoi,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehoi,
Einvertedbreve,
Emacron,
Eogonek,
Etilde,
Schwa,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Hbar,
Hcircumflex,
IJ,
Iacute,
Ibreve,
Icircumflex,
Idblgrave,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Ihoi,
Iinvertedbreve,
Imacron,
Iogonek,
Itilde,
Jcircumflex,
Kcommaaccent,
LJ,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lj,
Lslash,
NJ,
Nacute,
Ncaron,
Ncommaaccent,
Nhookleft,
Nj,
Ntilde,
Eng,
Oacute,
Obreve,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhoi,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohoi,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhoi,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Oogonek,
Oslash,
Oslashacute,
Otilde,
Otildemacron,
OE,
Thorn,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rinvertedbreve,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Germandbls,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Uacute,
Ubreve,
Ucircumflex,
Udblgrave,
Udieresis,
Udotbelow,
Ugrave,
Uhoi,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhoi,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Uogonek,
Uring,
Utilde,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
Yacute,
Ycircumflex,
Ydieresis,
Ydotbelow,
Ygrave,
Yhoi,
Ymacron,
Ytilde,
Zacute,
Zcaron,
Zdotaccent,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehoi,
abrevetilde,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhoi,
acircumflextilde,
adblgrave,
adieresis,
adotbelow,
agrave,
ahoi,
ainvertedbreve,
amacron,
aogonek,
aring,
aringacute,
atilde,
ae,
aeacute,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
dcaron,
dcroat,
dz,
dzcaron,
eth,
eacute,
ebreve,
ecaron,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhoi,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehoi,
einvertedbreve,
emacron,
eogonek,
etilde,
schwa,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
hbar,
hcircumflex,
i.TRK,
dotlessi,
iacute,
ibreve,
icircumflex,
idblgrave,
idieresis,
i.loclTRK,
idotbelow,
igrave,
ihoi,
iinvertedbreve,
imacron,
iogonek,
itilde,
ij,
dotlessj,
jcircumflex,
kcommaaccent,
kgreenlandic,
lacute,
lcaron,
lcommaaccent,
ldot,
lj,
lslash,
nacute,
ncaron,
ncommaaccent,
nhookleft,
nj,
ntilde,
eng,
oacute,
obreve,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhoi,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccentmacron,
odotbelow,
ograve,
ohoi,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhoi,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
oogonek,
oslash,
oslashacute,
otilde,
otildemacron,
oe,
thorn,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rinvertedbreve,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
germandbls,
tbar,
tcaron,
tcedilla,
tcommaaccent,
uacute,
ubreve,
ucircumflex,
udblgrave,
udieresis,
udotbelow,
ugrave,
uhoi,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhoi,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
uogonek,
uring,
utilde,
wacute,
wcircumflex,
wdieresis,
wgrave,
yacute,
ycircumflex,
ydieresis,
ydotbelow,
ygrave,
yhoi,
ymacron,
ytilde,
zacute,
zcaron,
zdotaccent,
f_f,
f_f_i,
f_f_ij,
f_f_l,
f_i,
f_ij,
f_joint,
f_l,
fi,
fl,
ordfeminine,
ordmasculine,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
onesuperior,
twosuperior,
threesuperior,
four.superior,
nbspace,
bracketangleleft,
bracketangleright,
period,
comma,
colon,
semicolon,
ellipsis,
exclamdown,
questiondown,
periodcentered,
periodcentered.loclCAT,
bullet,
asterisk,
slash,
backslash,
hyphen,
uni00AD,
endash,
emdash,
hyphen-gnrl,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
baht-thai,
at,
paragraph,
section,
copyright,
registered,
trademark,
degree,
minute,
second,
bar,
brokenbar,
dagger,
litre,
daggerdbl,
estimated,
numero,
cedi,
cent,
colonmonetary,
currency,
dollar,
dong,
franc,
guarani,
hryvnia,
kip,
lira,
turkishlira,
manat,
naira,
peseta,
peso,
ruble,
rupee,
newsheqel,
sterling,
won,
yen,
bulletoperator,
commercialminussign,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
emptyset,
infinity,
integral,
product,
summation,
radical,
partialdiff,
micro,
percent,
perthousand,
circle,
circledotted,
lozenge,
colon.case,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
hookabovecomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
horncomb,
palatalhookcomb,
dotbelowcomb,
dieresisbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
macronmod,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
primedblmod,
primemod,
softhyphen,
ssa_rakar,
zeroslash,
Iegravecyr,
Iocyr,
Djecyr,
Gjecyr,
Eukrcyr,
Dzecyr,
Iukrcyr,
Yukrcyr,
Jecyr,
Ljecyr,
Njecyr,
Tshecyr,
Kjecyr,
Igravecyr,
Ushortcyr,
Dzhecyr,
Acyr,
Becyr,
Vecyr,
Gecyr,
Decyr,
Iecyr,
Zhecyr,
Zecyr,
Icyr,
Ishortcyr,
Kacyr,
Elcyr,
Emcyr,
Encyr,
Ocyr,
Pecyr,
Ercyr,
Escyr,
Tecyr,
Ucyr,
Efcyr,
Hacyr,
Tsecyr,
Checyr,
Shacyr,
Shchacyr,
Hardcyr,
Ylongcyr,
Softcyr,
Ereversedcyr,
Yucyr,
Yacyr,
acyr,
becyr,
vecyr,
gecyr,
decyr,
iecyr,
zhecyr,
zecyr,
icyr,
ishortcyr,
kacyr,
elcyr,
emcyr,
encyr,
ocyr,
pecyr,
ercyr,
escyr,
tecyr,
ucyr,
efcyr,
hacyr,
tsecyr,
checyr,
shacyr,
shchacyr,
hardcyr,
ylongcyr,
softcyr,
ereversedcyr,
yucyr,
yacyr,
iegravecyr,
iocyr,
djecyr,
gjecyr,
eukrcyr,
dzecyr,
iukrcyr,
yukrcyr,
jecyr,
ljecyr,
njecyr,
tshecyr,
kjecyr,
igravecyr,
ushortcyr,
dzhecyr,
Geupcyr,
geupcyr,
Gestrokecyr,
gestrokecyr,
Zhetailcyr,
zhetailcyr,
Katailcyr,
katailcyr,
Entailcyr,
entailcyr,
Engecyr,
engecyr,
Ustraightcyr,
ustraightcyr,
Ustraightstrokecyr,
ustraightstrokecyr,
Xatailcyr,
xatailcyr,
Chetailcyr,
chetailcyr,
Shhacyr,
shhacyr,
Palochkacyr,
Zhebrevecyr,
zhebrevecyr,
palochkacyr,
Abrevecyr,
abrevecyr,
Aiecyr,
aiecyr,
Schwacyr,
schwacyr,
Imacroncyr,
imacroncyr,
Obarcyr,
obarcyr,
Umacroncyr,
umacroncyr,
Alpha,
Alphatonos,
Beta,
Chi,
Epsilon,
Epsilontonos,
Eta,
Etatonos,
Gamma,
Iota,
Iotadieresis,
Iotatonos,
Kappa,
Lambda,
Mu,
Nu,
Omegatonos,
Omicron,
Omicrontonos,
Phi,
Pi,
Psi,
Rho,
Sigma,
Tau,
Theta,
Upsilon,
Upsilondieresis,
Upsilontonos,
Xi,
Zeta,
alpha,
alphatonos,
beta,
chi,
delta,
epsilon,
epsilontonos,
eta,
etatonos,
gamma,
iota,
iotadieresis,
iotadieresistonos,
iotatonos,
kappa,
lambda,
mu,
nu,
omega,
omegatonos,
omicron,
omicrontonos,
phi,
pi,
psi,
rho,
sigma,
sigmafinal,
tau,
theta,
tonos,
Delta,
Omega,
uni03BC,
upsilon,
upsilondieresis,
upsilondieresistonos,
upsilontonos,
xi,
zeta,
)
