@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-Thin.woff2') format('woff2'),
        url('web/Lucknow-Thin.woff') format('woff'),
        url('ttf/Lucknow-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-ExtraLight.woff2') format('woff2'),
        url('web/Lucknow-ExtraLight.woff') format('woff'),
        url('ttf/Lucknow-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-Light.woff2') format('woff2'),
        url('web/Lucknow-Light.woff') format('woff'),
        url('ttf/Lucknow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-Regular.woff2') format('woff2'),
        url('web/Lucknow-Regular.woff') format('woff'),
        url('ttf/Lucknow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-Medium.woff2') format('woff2'),
        url('web/Lucknow-Medium.woff') format('woff'),
        url('ttf/Lucknow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-SemiBold.woff2') format('woff2'),
        url('web/Lucknow-SemiBold.woff') format('woff'),
        url('ttf/Lucknow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-Bold.woff2') format('woff2'),
        url('web/Lucknow-Bold.woff') format('woff'),
        url('ttf/Lucknow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-ExtraBold.woff2') format('woff2'),
        url('web/Lucknow-ExtraBold.woff') format('woff'),
        url('ttf/Lucknow-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-Black.woff2') format('woff2'),
        url('web/Lucknow-Black.woff') format('woff'),
        url('ttf/Lucknow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-ThinItalic.woff2') format('woff2'),
        url('web/Lucknow-ThinItalic.woff') format('woff'),
        url('ttf/Lucknow-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-ExtraLightItalic.woff2') format('woff2'),
        url('web/Lucknow-ExtraLightItalic.woff') format('woff'),
        url('ttf/Lucknow-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-LightItalic.woff2') format('woff2'),
        url('web/Lucknow-LightItalic.woff') format('woff'),
        url('ttf/Lucknow-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-Italic.woff2') format('woff2'),
        url('web/Lucknow-Italic.woff') format('woff'),
        url('ttf/Lucknow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-MediumItalic.woff2') format('woff2'),
        url('web/Lucknow-MediumItalic.woff') format('woff'),
        url('ttf/Lucknow-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-SemiBoldItalic.woff2') format('woff2'),
        url('web/Lucknow-SemiBoldItalic.woff') format('woff'),
        url('ttf/Lucknow-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-BoldItalic.woff2') format('woff2'),
        url('web/Lucknow-BoldItalic.woff') format('woff'),
        url('ttf/Lucknow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-ExtraBoldItalic.woff2') format('woff2'),
        url('web/Lucknow-ExtraBoldItalic.woff') format('woff'),
        url('ttf/Lucknow-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lucknow';
    src: url('web/Lucknow-BlackItalic.woff2') format('woff2'),
        url('web/Lucknow-BlackItalic.woff') format('woff'),
        url('ttf/Lucknow-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}