(
.notdef,
CR,
space,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
comma,
hyphen,
period,
slash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
colon,
semicolon,
less,
equal,
greater,
question,
at,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
bracketleft,
backslash,
bracketright,
asciicircum,
underscore,
grave,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
braceleft,
bar,
braceright,
asciitilde,
nbspace,
exclamdown,
cent,
sterling,
currency,
yen,
brokenbar,
section,
dieresis,
copyright,
ordfeminine,
guillemotleft,
logicalnot,
uni00AD,
registered,
macron,
degree,
plusminus,
twosuperior,
threesuperior,
acute,
micro,
paragraph,
periodcentered,
cedilla,
onesuperior,
ordmasculine,
guillemotright,
onequarter,
onehalf,
threequarters,
questiondown,
Agrave,
Aacute,
Acircumflex,
Atilde,
Adieresis,
Aring,
AE,
Ccedilla,
Egrave,
Eacute,
Ecircumflex,
Edieresis,
Igrave,
Iacute,
Icircumflex,
Idieresis,
Eth,
Ntilde,
Ograve,
Oacute,
Ocircumflex,
Otilde,
Odieresis,
multiply,
Oslash,
Ugrave,
Uacute,
Ucircumflex,
Udieresis,
Yacute,
Thorn,
germandbls,
agrave,
aacute,
acircumflex,
atilde,
adieresis,
aring,
ae,
ccedilla,
egrave,
eacute,
ecircumflex,
edieresis,
igrave,
iacute,
icircumflex,
idieresis,
eth,
ntilde,
ograve,
oacute,
ocircumflex,
otilde,
odieresis,
divide,
oslash,
ugrave,
uacute,
ucircumflex,
udieresis,
yacute,
thorn,
ydieresis,
Amacron,
amacron,
Abreve,
abreve,
Aogonek,
aogonek,
Cacute,
cacute,
Ccircumflex,
ccircumflex,
Cdotaccent,
cdotaccent,
Ccaron,
ccaron,
Dcaron,
dcaron,
Dcroat,
dcroat,
Emacron,
emacron,
Ebreve,
ebreve,
Edotaccent,
edotaccent,
Eogonek,
eogonek,
Ecaron,
ecaron,
Gcircumflex,
gcircumflex,
Gbreve,
gbreve,
Gdotaccent,
gdotaccent,
Gcommaaccent,
gcommaaccent,
Hcircumflex,
hcircumflex,
Hbar,
hbar,
Itilde,
itilde,
Imacron,
imacron,
Ibreve,
ibreve,
Iogonek,
iogonek,
Idotaccent,
dotlessi,
IJ,
ij,
Jcircumflex,
jcircumflex,
Kcommaaccent,
kcommaaccent,
kgreenlandic,
Lacute,
lacute,
Lcommaaccent,
lcommaaccent,
Lcaron,
lcaron,
Ldot,
ldot,
Lslash,
lslash,
Nacute,
nacute,
Ncommaaccent,
ncommaaccent,
Ncaron,
ncaron,
Eng,
eng,
Omacron,
omacron,
Obreve,
obreve,
Ohungarumlaut,
ohungarumlaut,
OE,
oe,
Racute,
racute,
Rcommaaccent,
rcommaaccent,
Rcaron,
rcaron,
Sacute,
sacute,
Scircumflex,
scircumflex,
Scedilla,
scedilla,
Scaron,
scaron,
Tcedilla,
tcedilla,
Tcaron,
tcaron,
Tbar,
tbar,
Utilde,
utilde,
Umacron,
umacron,
Ubreve,
ubreve,
Uring,
uring,
Uhungarumlaut,
uhungarumlaut,
Uogonek,
uogonek,
Wcircumflex,
wcircumflex,
Ycircumflex,
ycircumflex,
Ydieresis,
Zacute,
zacute,
Zdotaccent,
zdotaccent,
Zcaron,
zcaron,
Schwa,
florin,
Nhookleft,
Ohorn,
ohorn,
Uhorn,
uhorn,
DZcaron,
Dzcaron,
dzcaron,
LJ,
Lj,
lj,
NJ,
Nj,
nj,
Gcaron,
gcaron,
Oogonek,
oogonek,
DZ,
Dz,
dz,
Aringacute,
aringacute,
AEacute,
aeacute,
Oslashacute,
oslashacute,
Adblgrave,
adblgrave,
Ainvertedbreve,
ainvertedbreve,
Edblgrave,
edblgrave,
Einvertedbreve,
einvertedbreve,
Idblgrave,
idblgrave,
Iinvertedbreve,
iinvertedbreve,
Odblgrave,
odblgrave,
Oinvertedbreve,
oinvertedbreve,
Rdblgrave,
rdblgrave,
Rinvertedbreve,
rinvertedbreve,
Udblgrave,
udblgrave,
Uinvertedbreve,
uinvertedbreve,
Scommaaccent,
scommaaccent,
Tcommaaccent,
tcommaaccent,
Odieresismacron,
odieresismacron,
Otildemacron,
otildemacron,
Odotaccentmacron,
odotaccentmacron,
Ymacron,
ymacron,
dotlessj,
schwa,
nhookleft,
primemod,
primedblmod,
apostrophemod,
circumflex,
caron,
macronmod,
breve,
dotaccent,
ring,
ogonek,
tilde,
hungarumlaut,
gravecomb,
acutecomb,
circumflexcomb,
tildecomb,
macroncomb,
brevecomb,
dotaccentcomb,
dieresiscomb,
hookabovecomb,
ringcomb,
hungarumlautcomb,
caroncomb,
dblgravecomb,
breveinvertedcomb,
commaturnedabovecomb,
horncomb,
palatalhookcomb,
dotbelowcomb,
dieresisbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
brevebelowcomb,
macronbelowcomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
tonos,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
iotadieresistonos,
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Iotadieresis,
Upsilondieresis,
alphatonos,
epsilontonos,
etatonos,
iotatonos,
upsilondieresistonos,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotadieresis,
upsilondieresis,
omicrontonos,
upsilontonos,
omegatonos,
Iegravecyr,
Iocyr,
Djecyr,
Gjecyr,
Eukrcyr,
Dzecyr,
Iukrcyr,
Yukrcyr,
Jecyr,
Ljecyr,
Njecyr,
Tshecyr,
Kjecyr,
Igravecyr,
Ushortcyr,
Dzhecyr,
Acyr,
Becyr,
Vecyr,
Gecyr,
Decyr,
Iecyr,
Zhecyr,
Zecyr,
Icyr,
Ishortcyr,
Kacyr,
Elcyr,
Emcyr,
Encyr,
Ocyr,
Pecyr,
Ercyr,
Escyr,
Tecyr,
Ucyr,
Efcyr,
Hacyr,
Tsecyr,
Checyr,
Shacyr,
Shchacyr,
Hardcyr,
Ylongcyr,
Softcyr,
Ereversedcyr,
Yucyr,
Yacyr,
acyr,
becyr,
vecyr,
gecyr,
decyr,
iecyr,
zhecyr,
zecyr,
icyr,
ishortcyr,
kacyr,
elcyr,
emcyr,
encyr,
ocyr,
pecyr,
ercyr,
escyr,
tecyr,
ucyr,
efcyr,
hacyr,
tsecyr,
checyr,
shacyr,
shchacyr,
hardcyr,
ylongcyr,
softcyr,
ereversedcyr,
yucyr,
yacyr,
iegravecyr,
iocyr,
djecyr,
gjecyr,
eukrcyr,
dzecyr,
iukrcyr,
yukrcyr,
jecyr,
ljecyr,
njecyr,
tshecyr,
kjecyr,
igravecyr,
ushortcyr,
dzhecyr,
Geupcyr,
geupcyr,
Gestrokecyr,
gestrokecyr,
Zhetailcyr,
zhetailcyr,
Katailcyr,
katailcyr,
Entailcyr,
entailcyr,
Engecyr,
engecyr,
Ustraightcyr,
ustraightcyr,
Ustraightstrokecyr,
ustraightstrokecyr,
Xatailcyr,
xatailcyr,
Chetailcyr,
chetailcyr,
Shhacyr,
shhacyr,
Palochkacyr,
Zhebrevecyr,
zhebrevecyr,
palochkacyr,
Abrevecyr,
abrevecyr,
Aiecyr,
aiecyr,
Schwacyr,
schwacyr,
Imacroncyr,
imacroncyr,
Obarcyr,
obarcyr,
Umacroncyr,
umacroncyr,
baht-thai,
Wgrave,
wgrave,
Wacute,
wacute,
Wdieresis,
wdieresis,
Germandbls,
Adotbelow,
adotbelow,
Ahoi,
ahoi,
Acircumflexacute,
acircumflexacute,
Acircumflexgrave,
acircumflexgrave,
Acircumflexhoi,
acircumflexhoi,
Acircumflextilde,
acircumflextilde,
Acircumflexdotbelow,
acircumflexdotbelow,
Abreveacute,
abreveacute,
Abrevegrave,
abrevegrave,
Abrevehoi,
abrevehoi,
Abrevetilde,
abrevetilde,
Abrevedotbelow,
abrevedotbelow,
Edotbelow,
edotbelow,
Ehoi,
ehoi,
Etilde,
etilde,
Ecircumflexacute,
ecircumflexacute,
Ecircumflexgrave,
ecircumflexgrave,
Ecircumflexhoi,
ecircumflexhoi,
Ecircumflextilde,
ecircumflextilde,
Ecircumflexdotbelow,
ecircumflexdotbelow,
Ihoi,
ihoi,
Idotbelow,
idotbelow,
Odotbelow,
odotbelow,
Ohoi,
ohoi,
Ocircumflexacute,
ocircumflexacute,
Ocircumflexgrave,
ocircumflexgrave,
Ocircumflexhoi,
ocircumflexhoi,
Ocircumflextilde,
ocircumflextilde,
Ocircumflexdotbelow,
ocircumflexdotbelow,
Ohornacute,
ohornacute,
Ohorngrave,
ohorngrave,
Ohornhoi,
ohornhoi,
Ohorntilde,
ohorntilde,
Ohorndotbelow,
ohorndotbelow,
Udotbelow,
udotbelow,
Uhoi,
uhoi,
Uhornacute,
uhornacute,
Uhorngrave,
uhorngrave,
Uhornhoi,
uhornhoi,
Uhorntilde,
uhorntilde,
Uhorndotbelow,
uhorndotbelow,
Ygrave,
ygrave,
Ydotbelow,
ydotbelow,
Yhoi,
yhoi,
Ytilde,
ytilde,
hyphen-gnrl,
endash,
emdash,
quoteleft,
quoteright,
quotesinglbase,
quotedblleft,
quotedblright,
quotedblbase,
dagger,
daggerdbl,
bullet,
ellipsis,
perthousand,
minute,
second,
guilsinglleft,
guilsinglright,
fraction,
commercialminussign,
four.superior,
colonmonetary,
franc,
lira,
naira,
peseta,
rupee,
won,
newsheqel,
dong,
Euro,
kip,
peso,
guarani,
hryvnia,
cedi,
indianrupee,
turkishlira,
manat,
ruble,
litre,
numero,
trademark,
estimated,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
partialdiff,
emptyset,
product,
summation,
minus,
divisionslash,
bulletoperator,
radical,
infinity,
integral,
approxequal,
notequal,
lessequal,
greaterequal,
lozenge,
circle,
circledotted,
bracketangleleft,
bracketangleright,
fi,
fl,
NULL,
a.alt,
g.alt,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zero.zero,
i.TRK,
i.loclTRK,
f_f,
f_f_i,
f_f_ij,
f_f_l,
f_i,
f_ij,
f_joint,
f_l,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
periodcentered.loclCAT,
colon.case,
caroncomb.alt,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
softhyphen,
ssa_rakar,
zeroslash,
)
